# Required for event delivery from browser/server to Sentry
NEXT_PUBLIC_SENTRY_DSN=https://519ebbfa99d2f62750c0b728a7fe8444@o4510941599891456.ingest.de.sentry.io/4510941656973392

# Optional: only needed for source maps upload on build
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
